<h1>The College Curriculm I Wish I Had</h1>

<h2>State of CS Education</h2>
<div>
	<article>
		<h3><a href="http://www.cs.manchester.ac.uk/undergraduate/programmes/structure/" target="_blank">The University of Manchester</a></h3>
		
	</article>
	<article>
		<h3>The University of Melbourne</h3>

	</article>
	<article>
		<h3>The University of Texas at Austin</h3>

	</article>
	<article>
		<h3>Massachusetts Insitutes of Technology</h3>

	</article>
</div>

<p>
There will be only 6 semester not 8

Semester 1				Semester2
Computer science I		Computer Science II
Discrete Math I         Discrete Math II
writing course          History of Computer Science
Art electives           Digital Logic

Semester 3				Semester 4
Data Structures			Testing & Development
Machience Language		Web Preformance
Intro to Databases		Algorithms
Stat & Prob             Free Elect

Semester 5              Semester 6	
Theory of Automata      Computer Arctecture
Operating Systems       Elect
Elect                   Elect

Electives
Broswers
	- A course on how browsers work. Topics will
	include DOM tree, Render Trees, and differences
	amoung browers. Will also discuss how browsers
	are made
Search Engines			
Databases
Artifial Intellecgence

http://www.cs.manchester.ac.uk/undergraduate/programmes/structure/

http://www.cs.utexas.edu/undergraduate-program/academics/curriculum/degree-plans

http://www.msi.unimelb.edu.au/study/undergraduate/computing-software-systems/

http://www.eecs.mit.edu/academics-admissions/undergraduate-programs/course-6-3-computer-science-and-engineering
</p>