<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/main.css">
	<meta charset="UTF-8">
	<title>paul serraino</title>
</head>
<body>
	<header>
		<nav>
			<ol class="navbar">
				<li><a href="#">Home</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">Social</a>
					<ul class="dropdown">
						<li><a href="#">facebook</a></li>
						<li><a href="#">twitter</a></li>
						<li><a href="#">github</a></li>
					</ul>
				</li>
			</ol>
		</nav>
	</header>
	<div class="container">
		<div id="about">
			<h1>Paul</h1>
			<p>Interested in all things related to the web.</p>
		</div>
		<!-- load blog entries -->
		<div id="blog"></div>
	</div>
	<script src="../js/jquery.js"></script>
	<script src="../js/main.js"></script>
</body>
</html>