<!doctype html>
<html lang="en">
<head>

	<link rel="stylesheet" href="../css/normalize.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<meta charset="UTF-8">
	<title>Paul Serraino</title>
</head>
<body>
	<header>
		<div class="container">

			<nav class="nav">
				<ol class="navbar">
					<li><a href="#">Blog</a></li>
					<li><a href="#">Projects</a></li>
				</ol>
			</nav>
		</div>
	</header>

	<div id="container">
	<div class="center me">
		<div class="title">
			<h1>Paul Serraino</h1>
		</div>
		
		<p>I write Javascript</p>
		<img style="width: 200px;" src="../assets/images/JavaScript-logo.png" alt="js">
		<p>I live in Texas</p>
		<img style="width: 200px;" src="http://www.the-symbols.net/flags/usastates/_img_states1/texasflag.png" alt="tx">

	</div>

	</div>
	
	<!-- google analytics goes here.. -->
	<script src="../js/jquery.js"></script>
	<script src="../js/main.js"></script>
</body>
</html>