<!doctype html>
<html lang="en">
<head>

	<link rel="stylesheet" href="../css/normalize.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<meta charset="UTF-8">
	<title>Paul Serraino</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="me">
				<div class="title">
					<h1>Paul</h1>
					<p>Interested in all things related to the web.</p>
				</div>
			</div>
			<nav class="nav">
				<ol class="navbar">
					<li><a href="#">Blog</a></li>
					<li><a href="#">Projects</a></li>
				</ol>
			</nav>
		</div>
	</header>
		<div id="main-section">

			<section id="student-section">
				<div id="student" class="container">
					<h2>Computer Science Student</h2>
					<p>Studying at Texas State University</p>
				</div>
			</section>

			<section>
				<div class="container">
					<h2>Javascript is awesome</h2>
					<p>It's an emersive problem solving tool.</p>
				</div>
			</section>

			<section>
				<div class="container">
					<h2>Cedar Park Texas</h2>
					<p>My hometown.</p>
				</div>
			</section>
		</div>
	<footer class="footer">
		<div class="container">
			<ul class="social">
				<li><a href="https://www.facebook.com/paul.serraino" target="_blank"><i class="icon-facebook"></i></a></li>
				<li><a href="https://twitter.com/PaulSerraino" target="_blank"><i class="icon-twitter"></i></a></li>
				<li><a href="https://github.com/paulserraino" target="_blank"><i class="icon-github"></i></a></li>
			</ul>
		</div>
	</footer>
	<!-- google analytics goes here.. -->
	<script src="../js/jquery.js"></script>
	<script src="../js/main.js"></script>
</body>
</html>